html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 374px) {
  html {
    font-size: 2.66vw;
  }
}

body {
  font-size: 1.2rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Meiryo', sans-serif;
  color: #000;
  line-height: 1.5;
}


.button {
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  padding: 0.95rem 2rem;
  display: inline-block;
}


/* keyframes */

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(359deg);
  }
}

.page-index {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}




.area_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}


.spot_header {
  background-color: #fff;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  padding: 0 1rem;
}




.sub_controllers {
  display: flex;
}


.area-sub_controllers {
  padding: 1rem 1rem 0rem;
}

.spot_header .title {
  font-size: 1.6rem;
  font-weight: bold;
}


.current_position_button {
  color: #999;
  background-color: #fff;
  border: solid 1px #ccc;
}

.sub_controllers .current_position_button_new {
  color: #999;
  background-color: #fff;
  border: solid 1px #ccc;
  margin-left: auto;
}


.hit_icon {
  width: fit-content;
  padding: 0.6rem 0.75rem;
  margin-right: auto;
  margin-left : 5px;
  margin-top : 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: #fff;
}

.list_area {
  padding: 10px 1rem 1rem;
}

.list_button.active {
  background-color: #3381ff;
  border-color: #fff;
  filter: drop-shadow(0 0 4px rgba(0, 134, 255, 0.8));
}

.list_button.active .text {
  color: #fff;
}



.list_button {
  background-color: #fff;
  border: solid 1px #ccc;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.list_button:not(:first-child) {
  margin-top: 0.5rem;
}

.list_button .text {
  font-size: 1.9rem;
  font-weight: bold;
}

